<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="background= #9D9898">
    <div class="text-center">
      <h1>Listado de turnos</h1>
    </div>
    
    <hr>
    <h3><i>Búsqueda</i></h3>
    <div class="row">
      <div class="col">
        <input type="text" class = "from-control" style="width : 500px;"  placeholder="Buscar" [(ngModel)]="txtBuscador">
      </div>
    </div>
    <p>
    <div class="row">
      <div class="col">
        <input type="date"  style="width : 500px;" class = "from-control" placeholder="Buscar" [(ngModel)]="txtFecha">
      </div>
      <div class="col">
        <button class="btn btn-success btn-space float-right" (click)="buscarPorFecha()" >
          Buscar
        </button>
        <button class="btn btn-danger btn-space float-right " (click)="limpiarFiltros()" >
          Limpiar
        </button>
      </div>
    </div>
    <hr>
    <!-- <div class="card-columns">
        <div class="card" *ngFor ="let u of usuarios">
            <img class="card-img-top" [src]="u.avatar" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{u.last_name}}, {{u.first_name}}</h5>
              <p class="card-text">{{u.fecha_nacimiento | date: 'dd/MM/yyyy HH:mm'}}</p>
              <p class="card-text"><small class="text-muted">{{u.email}}</small></p>
            </div>
            <button type = "button" class = "btn btn-outline-primary btn-block" (click)="verUsuario(u.id)">
              ver más info..
            </button>
            <a [routerLink]="['/usuario', u.id]" class = "btn btn-outline-primary btn-block">Ver mas info link</a> //esto va comentado
        </div>
    </div> -->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID del Turno</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Categoría</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of turnos">
        <td>{{t.id}}</td>
        <td>{{t.nombre}}</td>
        <td>{{t.apellido}}</td>
        <td>{{t.fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{t.fecha | date:  'HH:mm'}}</td>
        <td>{{t.categoria.nombre}}</td>
        <div class="btn-group " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary btn-space"  (click)="verTurno(t.id)">
            Ver
          </button>
          <button type="button" class="btn btn-outline-danger btn-space" (click)="eliminarTurno(t.id)">
            Eliminar
          </button>
          <button type="button" class="btn btn-outline-dark btn-space " (click)="modificarTurno(t.id)">
            Modificar
          </button>
        </div>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <a class="btn btn-outline-success btn-block" [routerLink]="['/turnos', 'nuevo']" >
        Nuevo Turno
      </a>

    </div>
  </div>
 </body>
</html>
