<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <hr>
    <div class="card text-white bg-dark mb-3" style="max-width: device-width;">
      <div class="card-header"><h2>Detalles del turno</h2></div>
      <div class="card-body">
        <h5 class="card-title">{{turno.apellido}}, {{turno.nombre}}</h5>
        <p class="card-text"><b>Fecha del turno: </b> {{turno.fecha | date: 'dd/MM/yyyy'}} </p>
        <p class="card-text"><b>Hora del turno: </b> {{turno.fecha | date: 'HH:mm'}} </p>
        <p class="card-text"><b>Categoría: </b> {{turno.categoria.nombre}} </p>
        <p class="card-text"><i>{{turno.categoria.descripcion}}</i></p>
      </div>
    </div>
      <div>
        <button type="submit" class="btn btn-outline-danger btn-block "  routerLink="/turnos"> Volver </button>
      </div>
    
</body>
</html>
