<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4>Nuevo turno</h4>
  <hr>
  <form autocomplete="off" (ngSubmit)="guardar(formulario)" #formulario="ngForm" >
    <div>
       <div class="form-group row">
          <label class="col-2 col-form-label">Nombre</label>

           <div class="col-8">

              <input  class="form-control"
                      type="text"
                      ngModel
                      name="nombre"
                      [class.is-invalid]="name.invalid && name.touched"
                      [class.is-valid]="name.valid"
                      placeholder="Nombre"
                      required
                      minlength=3
                      #name="ngModel">
            </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Apellido</label>
          <div class="col-8">

            <input  class="form-control"
                    type="text"
                    ngModel
                    name="apellido"
                    placeholder="Apellido">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Categoria</label>
          <div class="col-8">
            <select class="form-control"  ngModel name="categoria">
              <option value="">Seleccione una Categoría</option>
              <option *ngFor="let c of categorias" [ngValue]="c">{{c.nombre}}</option> 
            </select>
          </div>
        </div>
      </div>
        <div class="form-group row">
        <label class="col-2 col-form-label">Fecha</label>
        <div class="col-8">

          <input  class="form-control"
                  type="date"
                  ngModel
                  name="fecha"
                  placeholder="Fecha">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" >Hora</label>
          <div class="col-8">
            
            <select class="form-control" ngModel name = "hora">
              <option value="">Seleccione una Hora</option>
              <option>09:00</option>
              <option>09:15</option>
              <option>09:30</option>
              <option>09:45</option>
              <option>10:00</option>
              <option>10:15</option>
              <option>10:30</option>
              <option>10:45</option>
              <option>11:00</option>
              <option>11:15</option>
              <option>11:30</option>
              <option>11:45</option>
              <option>12:00</option>
              <option>12:15</option>
              <option>12:30</option>
              <option>12:45</option>
              <option>13:00</option>
              <option>13:15</option>
              <option>13:30</option>
              <option>13:45</option>
              <option>14:00</option>
              <option>14:15</option>
              <option>14:30</option>
              <option>14:45</option>
              <option>15:00</option>
              <option>15:15</option>
              <option>15:30</option>
              <option>15:45</option>
              <option>16:00</option>
              <option>16:15</option>
              <option>16:30</option>
              <option>16:45</option>
              <option>17:00</option>
            </select>
           
          </div>
        </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-success btn-block" > Guardar </button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-danger btn-block " routerLink="/turnos"> Cancelar </button>
        </div>
      </div>
  </form>
</body>
</html>
