<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4>Modificar Turno</h4>
    <hr>
    <form autocomplete="off" (ngSubmit)="modificar(formulario)" #formulario="ngForm">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">
                    <input class="form-control" type="text" ngModel value={{turnos.nombre}} name="nombre"
                        placeholder="Ingrese Nombre" minlength="5">
                </div>
            </div>
        </div>
        <div>
          <div class="form-group row">
              <label class="col-2 col-form-label">Apellido</label>
              <div class="col-8">
                  <input class="form-control" type="text" ngModel value={{turnos.apellido}} name="apellido"
                      placeholder="Ingrese Apellido" minlength="5">
              </div>
          </div>
      </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha</label>
            <div class="col-8">
                <input class="form-control" type="date" ngModel value={{turnos.fecha}} name="fecha" placeholder="Fecha"
                    required>   
        </div>
      </div>
      <div class="form-group row">
      <label class="col-2 col-form-label">Hora</label>
      <div class="col-8">
          <select class="form-control" type="time" ngModel name="hora" placeholder="Hora" id="hora" required>
              <option value="09:00">09:00</option>
              <option value="09:15">09:15</option>
              <option value="09:30">09:30</option>
              <option value="09:45">09:45</option>
              <option value="10:00">10:00</option>
              <option value="10:15">10:15</option>
              <option value="10:30">10:30</option>
              <option value="10:45">10:45</option>
              <option value="11:00">11:00</option>
              <option value="11:15">11:15</option>
              <option value="11:30">11:30</option>
              <option value="11:45">11:45</option>
              <option value="12:00">12:00</option>
              <option value="12:15">12:15</option>
              <option value="12:30">12:30</option>
              <option value="12:45">12:45</option>
              <option value="13:00">13:00</option>
              <option value="13:15">13:15</option>
              <option value="13:30">13:30</option>
              <option value="13:45">13:45</option>
              <option value="14:00">14:00</option>
              <option value="14:15">14:15</option>
              <option value="14:30">14:30</option>
              <option value="14:45">14:45</option>
              <option value="15:00">15:00</option>
              <option value="15:15">15:15</option>
              <option value="15:30">15:30</option>
              <option value="15:45">15:45</option>
              <option value="16:00">16:00</option>
              <option value="16:15">16:15</option>
              <option value="16:30">16:30</option>
              <option value="16:45">16:45</option>
              <option value="17:00">17:00</option>
          </select>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Categoría</label>
            <div class="col-8">
                <select class="form-control" [compareWith]="compareCategoria" [(ngModel)]="turnos.categoria"
                    name="categoria">
                    <option *ngFor="let c of categorias" [ngValue]="c">{{c.nombre}}</option>
                    <!-- <option *ngFor="let c of categorias; let i=index" [ngValue]="c" [select]="i==1">{{c.nombre}}</option> -->
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Guardar
                </button>
            </div>
        </div>
    </form>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-danger btn-block " routerLink="/turnos"> Cancelar </button>
      </div>
    </div>
</body>
</html>
